@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    max-width: 100vw;
    font-family: "Be Vietnam Pro", sans-serif;
    background-image: url(resources/background@2x.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  header {
    margin: 1rem 1rem;
  }

  div.header-title {
    text-align: center;
    
  }

  div.header-title h1 {
    width: 500px;
    color: #ffffff;
    font-size: 2rem;
    margin: 0 auto;

  }

  div.header-title p {
    width: 590px;
    color: #ffffff;
    margin: 0 auto;
  }

  div.container {
    width: 620px;
    margin: 0 auto;
    background-color: #FFFFFF33;
    border-radius: 20px;
    padding: 10px;
  }

  .flex-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
  }

  label {
    font-size: 0.875rem;
    color: #ffffff;
  }

  input, select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: black;
  }

  button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }